    <div id="cirrus-carousel" class="carousel slide container" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#cirrus-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#cirrus-carousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a href="http://www.bbc.co.uk">
            <img class="first-slide" src="{{ "/images/carousel/Edinburgh_Supercomputer_073_p.jpg" | relative_url }}" alt="First slide">
            <div class="carousel-caption">
              <h2>Cirrus</h2>
              <p>Read more about the new Cirrus system</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://www.ign.com">
            <img class="second-slide" src="{{ "/images/carousel/accelerator_carousel.png" | relative_url }}" alt="Second slide">
            <div class="carousel-caption">
              <h2>Accelerator</h2>
              <p>Access for Industry</p>
            </div>
          </a>
        </div>
      </div>
      <a class="left carousel-control" href="#cirrus-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#cirrus-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div><!-- /.carousel -->

