<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="container-fluid">
      <h1>Cirrus News</h1>

      {% assign sorted = (site.news | sort: date) | reverse %}
      {% for item in sorted %}
        <dl>
          <dt><a href="{{ item.url }}">{{ item.title }}</a> ({{ item.date | date: '%-d %B %Y' }})</dt>
          <dd>{{ item.excerpt | strip_html }} <a href="{{ item.url | relative_url }}">Read more&hellip;</a></dd>
        </dl>
      {% endfor %}

    </div>

    {% include bootstrap_js.html %}

  </body>

</html>
